Data Ingest.json
{
  "name": "Data Ingest",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        16
      ],
      "id": "26fc0add-ea83-48c8-ad3d-c8040cee3c01",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16mKVX6_ErI-Pi0e-IuKArtZ8s9nQRcqm-K7aVldVg0w",
          "mode": "list",
          "cachedResultName": "Pc Store",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16mKVX6_ErI-Pi0e-IuKArtZ8s9nQRcqm-K7aVldVg0w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16mKVX6_ErI-Pi0e-IuKArtZ8s9nQRcqm-K7aVldVg0w/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        16
      ],
      "id": "e3b7917f-346c-4b89-a4ad-a492960a93a2",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xGahBBbszV7j87EV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e430894b-0792-4577-a75f-e46510fb9dfd",
              "name": "=Content",
              "value": "=Product Name: {{$json['Product Name (Model)']}}\nCatagory : {{ $json.Category }}\nSpecs: {{ $json['Key Specification'] }}\nPrice : {{ $json['Unit Price (INR)']}}",
              "type": "string"
            },
            {
              "id": "5181544f-9274-480e-8be2-99070c91ac8b",
              "name": "=Catagory",
              "value": "=Catagory: {{ $json.Category }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        16
      ],
      "id": "8829912b-cbcf-4280-972e-b1ba8df5a2c8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "knowledgebase",
          "mode": "list",
          "cachedResultName": "knowledgebase"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        656,
        16
      ],
      "id": "5919e41f-3507-43ef-af2d-683d41ea7c3f",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "qCaD4Vz9ZxOTnTD2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        592,
        224
      ],
      "id": "487ce3fd-a7ad-4105-af39-aee66025290a",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "w4zm6drHZpYWQbwN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{$json.Content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Catagory",
                "value": "={{ $json.Catagory }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        800,
        224
      ],
      "id": "dc2e6b29-e885-44f0-b698-c282c43735dc",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ea23b098-de72-4184-924e-f17c14bb502a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb4a8ac87a971ea45da526d19aba453dd373a4c314b640ab4c4efe997797c5fe"
  },
  "id": "wI5Djpq7rp4kP2MT",
  "tags": []
}