voice-agent.json
{
  "name": "Agentic Rag",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.Question }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        0
      ],
      "id": "6f294045-d8cd-4362-9495-d39808c21afb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "a95bd808-cfa6-4070-9e72-821ff9c0fbd8",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "AelBGNhaAK10egDV",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to look up any product information that relates to the products offered by the company.",
        "tableName": {
          "__rl": true,
          "value": "knowledgebase",
          "mode": "list",
          "cachedResultName": "knowledgebase"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        480,
        224
      ],
      "id": "70008176-f796-4738-a892-64cc3e16edb4",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "qCaD4Vz9ZxOTnTD2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        576,
        432
      ],
      "id": "2550af8d-1915-411e-975a-746f5005ff57",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "w4zm6drHZpYWQbwN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "10494b8e-bcf4-44a5-b569-0986e30392e5",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        16
      ],
      "id": "d3a54309-bb2e-452b-9540-403550046fe1",
      "name": "Webhook",
      "webhookId": "10494b8e-bcf4-44a5-b569-0986e30392e5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        640,
        16
      ],
      "id": "aaa51df9-3cb8-41bf-baf3-4c7bf77577eb",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c4265c09-ee2d-4f98-b0b1-1b3e420b612b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb4a8ac87a971ea45da526d19aba453dd373a4c314b640ab4c4efe997797c5fe"
  },
  "id": "heQC1cFi2mHsKOCb",
  "tags": []
}